!!! 5
%html
  %head
    %title Spyrolous
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    %script{src:"/js/snap.svg-min.js"}
    %script{src:"/js/jquery-2.0.3.min.js"}
    %script{src:"/js/spyro.js"}

  %body
    %h1 Spyrolous
    .pure-g-r
      .pure-u-1-5
        %p And now it seems to me the beautiful uncut hair of graves. Long enough have you dreamed contemptible dreams, By God! you shall not go down! Hang your whole weight upon me. And brown ants in the little wells beneath them, It is for the illiterate…it is for the judges of the supreme court…it is for the federal capitol and the state capitols. Disorderly fleshy and sensual…eating drinking and breeding, Did you guess the celestial laws are yet to be worked over and rectified? Toss to the moaning gibberish of the dry limbs. I see in them and myself the same old law. The western turkey-shooting draws old and young…some lean on their rifles, some sit on logs. Their brawny limbs passing safe over charred laths…their white foreheads whole and unhurt out of the flames; Nor the present, nor the least wisp that is known. The suns I see and the suns I cannot see are in their place, An unseen hand also passed over their bodies, Under Niagara, the cataract falling like a veil over my countenance.
      #spyro.pure-u-3-5
        %svg{id:"snap", class:"pure-u-1"}
      .pure-u-1-5
        %p And now it seems to me the beautiful uncut hair of graves. Long enough have you dreamed contemptible dreams, By God! you shall not go down! Hang your whole weight upon me. And brown ants in the little wells beneath them, It is for the illiterate…it is for the judges of the supreme court…it is for the federal capitol and the state capitols. Disorderly fleshy and sensual…eating drinking and breeding, Did you guess the celestial laws are yet to be worked over and rectified? Toss to the moaning gibberish of the dry limbs. I see in them and myself the same old law. The western turkey-shooting draws old and young…some lean on their rifles, some sit on logs. Their brawny limbs passing safe over charred laths…their white foreheads whole and unhurt out of the flames; Nor the present, nor the least wisp that is known. The suns I see and the suns I cannot see are in their place, An unseen hand also passed over their bodies, Under Niagara, the cataract falling like a veil over my countenance.