.pure-g-r

  .pure-u-2-3
    .card
      %h3 Welcome to Spyrolous.
      %p Please log in to continue.
  .pure-u-1-3
    /=link_to "<i class='fa fa-google-plus fa2'> </i>  Login with Google".html_safe, '/auth/google_oauth2', class:"pure-button google"