.pure-g-r
  .pure-u-1-4
  .pure-u-1-2.card.home
    .welcome
      %h3 Welcome to 
      .title Spyrolous.
      %p A place to make digital artwork with friends.
      %p Sign in above to begin.
    #spyroHome

  .pure-u-1-4

:javascript
  $(document).ready(function(){
    var s = Snap('#spyroHome');
    Snap.load("#{asset_path "spyro.svg"}", function(f){
      s.append(f);
    })


  })