// Place all the styles related to the canvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.layerThumb {
  width: 90%;
  margin: 20px auto;
  background: white;
  box-shadow: 3px 3px 3px black;
  height: 40px;
}

.numInput {
  width: 50px;
  box-shadow: none;
  border: 0;
  border-radius: 3px;
}

.colorBtn.red {
  color:#FF0000;
}
.colorBtn.blue {
  color:#0000FF;
}
.colorBtn.green {
  color:#00FF00;
}
.pure-button.selected {
  background-color:#83979B;
}