// Styles for Spyrolous

$mustard: #ad8329;
$teal: #374d4f;
$plum: #7e3b60;

@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);

body {
  background: image-url("dark_wood.png");
}

nav {
  background: rgba(255,255,255,0.7);
  border-bottom: 1px solid white;
  margin: 0 0 15px;
}
.side {
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 10px black;
  color: $mustard;
}

.title {
  font-family: 'Over the Rainbow', cursive;
  font-weight: normal;
  margin: -16px 5px -20px;
  text-shadow: 2px 2px 2px white;
  font-size: 2.5em;
  color: darken($plum, 15%);
}

nav a {
  text-decoration: none;
}

.options {
  display: none;
}

.canvasIndex {
  color: white;
}

.canvasThumb {
  background: image-url("paper.png");
  box-shadow: 0 0 10px white;
  margin-bottom: 2em;
}

.canvasThumb svg {
  height: 100%;
  width: 100%;
}

.pure-button.google {
  background-color: #df4a32;
  color: white;
  font-weight: bold;
}

.card {
  background: image-url("paper.png");
  padding: 1em;
  margin: 0.65em;
  box-shadow: 0 0 10px white;
  overflow: hidden;
}

.artist {
  position: absolute;
  left: 50%;
  top: 0;
  height: 2.5em;
  width:45%;
  padding: 5px;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0.8em;
  text-align: right;
  margin-right: 5px;
}

.artist a {
  color: $plum;
  text-decoration: none;
}

.artist a:hover{
  color: $mustard;
}

// Styles for the canvas page

// #canvas {

// }

#snapContainer {
  height: 960px;
  width: 960px;
  background: image-url("paper.png");
  box-shadow: 0 0 10px white;
  z-index: -1;
}

#snapContainer svg{
  position: absolute;
  z-index: 0;
}

.welcome {
  position: relative;
  z-index: 1;
}

.home {
  position: relative;
  height: 400px;
  overflow: hidden;
}

#spyroHome {
  position: relative;
  z-index: 0;
  left:47%;  
  top: -150px;
  overflow: hidden;
}

#spyroHome svg {
  height:80%;
  width: 140%;
  z-index: 0;
}

.layerThumb {
  width: 90%;
  margin: 20px auto;
  background: white;
  box-shadow: 3px 3px 3px black;
  height: 40px;
}

.pure-button.selected {
  background-color: desaturate($teal, 5%);
}



// these should be depreciated soon.
.numInput {
  width: 50px;
  box-shadow: none;
  border: 0;
  border-radius: 3px;
}

.colorBtn.red {
  color:#FF0000;
}
.colorBtn.blue {
  color:#0000FF;
}
.colorBtn.green {
  color:#00FF00;
}


/* Media query for retina images */
@media only screen and (min-resolution: 240dpi) {
    body {
      background: image-url("dark_wood_@2X.png");
    }
    .card {
      background: image-url("paper_@2X.png");
    }
}