!!! 5
%html
  %head
    %title Spyrolous
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    %link{rel:'stylesheet', href:"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}
    %script{src:'//code.jquery.com/ui/1.10.3/jquery-ui.js'}
    %link{rel:'stylesheet', href:'http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.css'}
    =yield :head
    =csrf_meta_tags
  %body
    %nav
      %a{href:'/dashboard', class:""}
        %h1{class:"title", alt:"Spyrolous Dashboard"} Spyrolous
      .artist
        -if current_user
          Welcome, #{current_user.name}
          %br
          =link_to "Logout", logout_path
        -else
          =link_to "<i class='fa fa-google-plus fa2'> </i>  Login with Google".html_safe, '/auth/google_oauth2', class:"pure-button google"
    =yield